<h3 style="text-align: center">update user information</h3>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        
         
          <div class="form-group">
            <label>Name</label>
            <input id="name" type="text" ng-model="user.name" name="name" class="form-control" readonly value={{user.name}} />
          </div>
          <div class="form-group">
            <label>Telephone</label>
            <input id="tel" type="text" ng-model="user.tel" name="tel" class="form-control" value={{user.tel}} />
          </div>
          <div class="form-group">
            <label>Email</label>
            <input id="email" type="text" ng-model="user.email" name="email" class="form-control" value={{user.email}} />
          </div>
          <button style="position:relative; class="btn btn-info btn-lg" ng-click="updateuser(user)">Update</button>
        
      </div>
    </div>
  </div>
